@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quicksand:wght@300;500;700&display=swap');

*{
  font-family: 'Montserrat';
}

.rojo{
  color: red;
}

.verde {
  color: green;
}